@if (hat_active && mupihat() !== undefined) {
  @if (mupihat().BatteryConnected === 1) {
    @if (mupihat().IBus > 0) {
      <ion-icon name="lucide-battery-charging"></ion-icon>
    } @else {
      @switch (mupihat().Bat_SOC) {
        @case ('100%') {
          <ion-icon name="lucide-battery-full"></ion-icon>
        }
        @case ('75%') {
          <ion-icon name="lucide-battery-full"></ion-icon>
        }
        @case ('50%') {
          <ion-icon name="lucide-battery-medium"></ion-icon>
        }
        @case ('25%') {
          <ion-icon name="lucide-battery-low"></ion-icon>
        }
        @default {
          <ion-icon name="lucide-battery"></ion-icon>
        }
      }
    }
  }
}
