[Unit]
Description=A spotify connect device
Documentation=https://github.com/librespot-org/librespot/wiki/Options
Wants=sound.target
After=sound.target
Wants=network-online.target
After=network-online.target
Wants=pulseaudio.service
After=pulseaudio.service

[Service]
ExecStart=/bin/bash -c 'source /etc/librespot/env-librespot && /usr/bin/librespot -q'
Restart=always
RestartSec=12

[Install]
WantedBy=default.target
