[Unit]
Description=MuPiBox MQTT Service
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=simple
WorkingDirectory=/tmp/
User=root
ExecStart=/usr/bin/python3 -B /usr/local/bin/mupibox/mqtt.py
ExecStop=/bin/kill -TERM $(cat /run/mupi_mqtt.pid)
Restart=on-failure

[Install]
WantedBy=basic.target