[Unit]
Description=MuPiBox MQTT Service
Wants=network-online.target
After=network-online.target
DefaultDependencies=no

[Service]
Type=simple
WorkingDirectory=/tmp/
User=root
PIDFile=/run/mupi_mqtt.pid
ExecStart=/usr/bin/python3 -B /usr/local/bin/mupibox/mqtt.py
#ExecStop=/bin/kill -TERM $(cat /run/mupi_mqtt.pid)
Restart=on-abort

[Install]
WantedBy=basic.target