[Unit]
Description=MuPiHAT Service
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/usr/local/bin/mupibox/mupihat_automation.sh
ExecStop=pkill -f -9 mupihat.py
KillMode=mixed
PIDFile=/var/run/mupi_hat.pid

[Install]
WantedBy=basic.target