[Unit]
Description=Fan Control
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=simple
RemainAfterExit=true
ExecStart=python3 /usr/local/bin/mupibox/fan_control.py
KillMode=process

[Install]
WantedBy=basic.target