[Unit]
Description=MuPiBox VNC Service

[Install]
WantedBy=multi-user.target

[Service]
User=dietpi
Group=dietpi
ExecStart=/usr/bin/x11vnc -multiptr -ncache 10 -forever -display :0
ExecStop=sudo /usr/bin/kill $(/usr/bin/pgrep x11vnc)