[Unit]
Description=Power LED Control
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/usr/local/bin/mupibox/./mupi_start_led.sh
KillMode=process

[Install]
WantedBy=basic.target