<ion-header class="home-header">
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-button (click)="resume()">
                <ion-icon slot="icon-only" name="timer-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-segment value="{{this.category}}" (ionChange)="categoryChanged($event)">
            <ion-segment-button value="audiobook">
                <ion-icon name="book-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="music">
                <ion-icon name="musical-notes-outline"></ion-icon>
            </ion-segment-button>
            <!-- <ion-segment-button value="playlist">
                <ion-icon name="document-text-outline"></ion-icon>
            </ion-segment-button> -->
            <ion-segment-button value="other">
                <ion-icon name="radio-outline"></ion-icon>
            </ion-segment-button>
        </ion-segment>
        <ion-buttons slot="end">
            <ion-button *ngIf="(mupihat$ | async)?.IBus > 0 && (mupihat$ | async)?.Bat_SOC ==='100%'; else elsecharge75" class="OnlineState" (click)="editButtonPressed()">
                <ion-icon slot="icon-only" src="../../assets/icon/MuPiHAT/Charging100.svg" size="large"></ion-icon>
            </ion-button>
            <ng-template #elsecharge75>
                <ion-button *ngIf="(mupihat$ | async)?.IBus > 0 && (mupihat$ | async)?.Bat_SOC ==='75%'; else elsecharge50" class="OfflineState" (click)="editButtonPressed()">
                    <ion-icon slot="icon-only" src="../../assets/icon/MuPiHAT/Charging70.svg" size="large"></ion-icon>
                </ion-button>
            </ng-template>
            <ng-template #elsecharge50>
                <ion-button *ngIf="(mupihat$ | async)?.IBus > 0 && (mupihat$ | async)?.Bat_SOC ==='50%'; else elsecharge25" class="OfflineState" (click)="editButtonPressed()">
                    <ion-icon slot="icon-only" src="../../assets/icon/MuPiHAT/Charging50.svg" size="large"></ion-icon>
                </ion-button>
            </ng-template>
            <ng-template #elsecharge25>
                <ion-button *ngIf="(mupihat$ | async)?.IBus > 0 && (mupihat$ | async)?.Bat_SOC ==='25%'; else elsecharge0" class="OfflineState" (click)="editButtonPressed()">
                    <ion-icon slot="icon-only" src="../../assets/icon/MuPiHAT/Charging20.svg" size="large"></ion-icon>
                </ion-button>
            </ng-template>
            <ng-template #elsecharge0>
                <ion-button *ngIf="(mupihat$ | async)?.IBus > 0 && (mupihat$ | async)?.Bat_SOC ==='0%'; else else100" class="OfflineState" (click)="editButtonPressed()">
                    <ion-icon slot="icon-only" src="../../assets/icon/MuPiHAT/Charging0.svg" size="large"></ion-icon>
                </ion-button>
            </ng-template>

            <ng-template #else100>
                <ion-button *ngIf="(mupihat$ | async)?.Bat_SOC ==='100%'; else else75" class="OfflineState" (click)="editButtonPressed()">
                    <ion-icon slot="icon-only" src="../../assets/icon/MuPiHAT/Battery100.svg" size="large"></ion-icon>
                </ion-button>
            </ng-template>
            <ng-template #else75>
                <ion-button *ngIf="(mupihat$ | async)?.Bat_SOC ==='75%'; else else50" class="OfflineState" (click)="editButtonPressed()">
                    <ion-icon slot="icon-only" src="../../assets/icon/MuPiHAT/Battery70.svg" size="large"></ion-icon>
                </ion-button>
            </ng-template>
            <ng-template #else50>
                <ion-button *ngIf="(mupihat$ | async)?.Bat_SOC ==='50%'; else else25" class="OfflineState" (click)="editButtonPressed()">
                    <ion-icon slot="icon-only" src="../../assets/icon/MuPiHAT/Battery50.svg" size="large"></ion-icon>
                </ion-button>
            </ng-template>
            <ng-template #else25>
                <ion-button *ngIf="(mupihat$ | async)?.Bat_SOC ==='25%'; else else0" class="OfflineState" (click)="editButtonPressed()">
                    <ion-icon slot="icon-only" src="../../assets/icon/MuPiHAT/Battery20.svg" size="large"></ion-icon>
                </ion-button>
            </ng-template>
            <ng-template #else0>
                <ion-button *ngIf="(mupihat$ | async)?.Bat_SOC ==='0%'; else elseBlockOnline" class="OfflineState" (click)="editButtonPressed()">
                    <ion-icon slot="icon-only" src="../../assets/icon/MuPiHAT/Battery0.svg" size="large"></ion-icon>
                </ion-button>
            </ng-template>

            <ng-template #elseBlockOnline>
                <ion-button *ngIf="(network$ | async)?.onlinestate ==='online'; else elseBlockOffline" class="OnlineState" (click)="editButtonPressed()">
                    <ion-icon slot="icon-only" name="cloud-outline"></ion-icon>
                </ion-button>
            </ng-template>
            <ng-template #elseBlockOffline>
                <ion-button *ngIf="(network$ | async)?.onlinestate ==='offline'; else elseBlockEmpty" class="OfflineState" (click)="editButtonPressed()">
                    <ion-icon slot="icon-only" name="cloud-offline-outline"></ion-icon>
                </ion-button>
            </ng-template>
            <ng-template #elseBlockEmpty>
                <ion-button (click)="editButtonPressed()">
                    <ion-icon slot="icon-only" name=""></ion-icon>
                </ion-button>
            </ng-template>
            <!-- <ion-button *ngIf="(network$ | async)?.onlinestate ==='online'; else elseBlockOffline" class="OnlineState" (click)="editButtonPressed()">
                <ion-icon slot="icon-only" name="cloud-outline"></ion-icon>
            </ion-button>
            <ng-template #elseBlockOffline>
                <ion-button *ngIf="(network$ | async)?.onlinestate ==='offline'; else elseBlockEmpty" class="OfflineState" (click)="editButtonPressed()">
                    <ion-icon slot="icon-only" name="cloud-offline-outline"></ion-icon>
                </ion-button>
            </ng-template>
            <ng-template #elseBlockEmpty>
                <ion-button (click)="editButtonPressed()">
                    <ion-icon slot="icon-only" name=""></ion-icon>
                </ion-button>
            </ng-template> -->
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="home-content">
    <div *ngIf="category === 'audiobook' || category === 'music' || category === 'other'; then artistBlock else mediaBlock"></div>

    <ng-template #artistBlock>
        <ion-slides [options]="slideOptions" scrollbar="true" #artist_slider>
            <ion-slide *ngFor="let currentArtist of artists">
                <ion-grid>
                    <ion-row>
                        <ion-col size="12">
                            <ion-card class="circle-card">
                                <img (click)="artistCoverClicked(currentArtist)" draggable="false" style="-moz-user-select: none;" ondragstart="return false;" src="{{covers[currentArtist.name]}}">
                            </ion-card>
                        </ion-col>
                    </ion-row>
                    <ion-row class="title-card">
                        <ion-col size="12">
                            <ion-card (click)="artistNameClicked(currentArtist)">
                                <ion-card-header>
                                    <ion-card-title class="ion-text-nowrap truncate-text">{{currentArtist.name}}</ion-card-title>
                                </ion-card-header>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-slide>
        </ion-slides>
    </ng-template>
    
    <ng-template #mediaBlock>
        <ion-slides *ngIf="media" [options]="slideOptions" scrollbar="true" #media_slider>
            <ion-slide *ngFor="let currentMedia of media">
                <ion-grid>
                    <ion-row class="media-card">
                        <ion-col size="12">
                            <ion-card class="media-card">
                                <img (click)="mediaCoverClicked(currentMedia)" draggable="false" style="-moz-user-select: none;" ondragstart="return false;" src="{{covers[currentMedia.title]}}">
                                <ion-card-header (click)="mediaNameClicked(currentMedia)">
                                    <ion-card-title class="ion-text-nowrap truncate-text">{{currentMedia.title}}</ion-card-title>
                                </ion-card-header>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-slide>
        </ion-slides>
    </ng-template>
</ion-content>