<ion-header class="home-header">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <!-- TODO: make normal link -->
      <ion-button (click)="resume()">
        <ion-icon slot="icon-only" name="timer-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-segment value="{{this.category}}" (ionChange)="categoryChanged($event)">
      <ion-segment-button value="audiobook">
        <ion-icon name="book-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="music">
        <ion-icon name="musical-notes-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="other">
        <ion-icon name="radio-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    
    <!-- TODO: Fix alignement of category tabs. -->
    <ion-buttons slot="end">
      @if ((network$ | async)?.onlinestate ==='online') {
        <ion-button class="OnlineState" (click)="editButtonPressed()">
          <ion-icon slot="icon-only" name="cloud-outline"></ion-icon>
        </ion-button>
      } @else {
        @if ((network$ | async)?.onlinestate ==='offline') {
          <ion-button class="OfflineState" (click)="editButtonPressed()">
            <ion-icon slot="icon-only" name="cloud-offline-outline"></ion-icon>
          </ion-button>
        } @else {
          <ion-button (click)="editButtonPressed()">
            <ion-icon slot="icon-only" name=""></ion-icon>
          </ion-button>
        }
      }
      @if ((config$ | async)?.hat_active) {
        <ion-button class="battery" (click)="editButtonPressed()">
          <mupihat-icon></mupihat-icon>
        </ion-button>
      }
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  @if (category === 'audiobook' || category === 'music' || category === 'other') {
    <swiper-container slides-per-view="3" scrollbar="true" scrollbar-hide="true" free-mode="false" css-mode="true">
      @for (currentArtist of artists; track currentArtist) {
        <swiper-slide>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-card class="circle-card">
                  <img (click)="artistCoverClicked(currentArtist)" draggable="false" style="-moz-user-select: none;" ondragstart="return false;" src="{{covers[currentArtist.name]}}">
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row class="title-card">
              <ion-col size="12">
                <ion-card (click)="readText(currentArtist.name)">
                  <ion-card-header>
                    <ion-card-title class="ion-text-nowrap truncate-text ion-text-center">{{currentArtist.name}}</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </swiper-slide>
      }
    </swiper-container>
  } @else {
    @if (media) {
      <swiper-container slides-per-view="3" scrollbar="true" scrollbar-hide="true" free-mode="false" css-mode="true">
        @for (currentMedia of media; track currentMedia) {
          <swiper-slide>
            <ion-grid>
              <ion-row class="media-card">
                <ion-col size="12">
                  <ion-card class="media-card">
                    <img (click)="mediaCoverClicked(currentMedia)" draggable="false" style="-moz-user-select: none;" ondragstart="return false;" src="{{covers[currentMedia.title]}}">
                    <ion-card-header (click)="readText(currentMedia.title)">
                      <ion-card-title class="ion-text-nowrap truncate-text ion-text-center">{{currentMedia.title}}</ion-card-title>
                    </ion-card-header>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </swiper-slide>
        }
      </swiper-container>
    }
  }
</ion-content>
