# Config files.
src/backend-api/config/*.json
src/backend-player/config/*.json
**/server/config/*.json

# Temporary build files.
src/backend-api/build/*

# Temporary deploy files.
src/**/*.zip
src/deploy.zip
src/deploy

# npm / Angular files.
node_modules
.angular

# Other files.
*.bak

