# Config files.
src/backend-api/config/*.json
src/backend-player/config/*.json
**/server/config/*.json

# Temporary deploy files.
src/**/*.zip
src/deploy.zip
src/deploy

# npm / Angular / esbuild files.
node_modules
.angular
*.esbuild-meta.json

# Other files.
*.bak

