<div class="pages-scroll" #scroller (scroll)="onScroll()">
  @for (page of pages(); track $index) {
    <div class="page">
      @for (item of page; track item) {
        <mupi-tile
          [imgSrc]="item.imgSrc"
          [title]="item.title"
          (tileClicked)="tileClicked.emit(item.data)"
          (labelClicked)="labelClicked.emit(item.data)">
        </mupi-tile>
      }
    </div>
  }
</div>

<mupi-page-dots [count]="pages().length" [active]="activePage()" (dotClicked)="scrollToPage($event)"></mupi-page-dots>
