<ion-header class="player-header">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/medialist"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbar-album">
      <div>
      @switch (backendMedia().type) {
        @case ('spotifyPlaylist') {
          {{ (spotify$ | async)?.item.album.name }}
        }
        @case ('spotifyEpisode') {
          {{ (episode$ | async)?.show.name }}
        }
        @case ('local') {
          {{ (local$ | async)?.album }}
        }
        @default {
          {{ backendMedia().name }}
        }
      }
      </div>
    </ion-title>
    <ion-title class="toolbar-tracktitle">

      <div>
        @switch (backendMedia().type) {
          @case ('spotifyPlaylist') {
            {{ (spotify$ | async)?.item.name }}
          }
          @case ('spotifyEpisode') {
            {{ (episode$ | async)?.name }}
          }
          @case ('local') {
            {{ (local$ | async)?.currentTrackname }}
          }
          @case ('rss') {
            {{ backendMedia().name }}
          }
        }
      </div>
    </ion-title>
    <ion-title class="toolbar-tracknumber" slot="end">
      <div>{{(local$ | async)?.volume}}%</div>

      <div>
        @switch (backendMedia().type) {
          @case ('spotifyPlaylist') {
            {{ (spotify$ | async)?.item.track_number }}/{{ (spotify$ | async)?.item.album.total_tracks }}
          }
          @case ('spotifyEpisode') {
            {{ showTrackNr }}/{{ (episode$ | async)?.show.total_episodes }}
          }
          @case ('local') {
            {{ (local$ | async)?.currentTracknr }}/{{ (local$ | async)?.totalTracks }}
          }
          <!-- ELSE ??: {{playlistTrackNr}}/{{(local$ | async)?.totalPlaylist}} -->
        }
      </div>
    </ion-title>
    <span slot="end" class="mupihat-icon-container"><mupihat-icon></mupihat-icon></span>
  </ion-toolbar>
</ion-header>

<ion-content class="player-content">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="cover-card">
          <img src="{{this.img()}} " draggable="false" style="-user-select: none;" ondragstart="return false;">
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-grid class="controls">
          <ion-row class="slider-row">
            @if (backendMedia().type !=='radio') {
              <ion-range [(ngModel)]="progress" max="100" (ionChange)="seek($event)" ion-range></ion-range>
            }
          </ion-row>

          <ion-row class="controls-row">
            <ion-col size="4" class="ion-text-center">
              <ion-button (click)="volDown()" color="light">
                <ion-icon slot="icon-only" name="volume-low-outline" class="small-icon"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <ion-button (click)="playPause()" color="light">
                <ion-icon slot="icon-only" [name]="playing ? 'pause' : 'play'" class="small-icon"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <ion-button (click)="volUp()" color="light">
                <ion-icon slot="icon-only" name="volume-high-outline" class="small-icon"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="controls-row">
            <ion-col size="6" class="ion-text-center">
              <ion-button [disabled]="this.media.showid" (click)="skipPrev()" color="light">
                <ion-icon slot="icon-only" name="play-skip-back" class="small-icon"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <ion-button [disabled]="this.media.showid" (click)="skipNext()" color="light">
                <ion-icon slot="icon-only" name="play-skip-forward" class="small-icon"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="controls-row">
            @let showShuffleButton = media.type ==='spotify' && (media.category =='music' || media.category =='other');

            <ion-col [size]="showShuffleButton ? '4' : '6'" class="ion-text-center">
              <ion-button (click)="seekBack()" color="light">
                <ion-icon slot="icon-only" name="play-back" class="small-icon"></ion-icon>
              </ion-button>
            </ion-col>
            @if (showShuffleButton) {
              <ion-col size="4" class="ion-text-center">
                <ion-button (click)="toggleshuffle()" [color]="media.shuffle ? 'dark' : 'light'">
                  <ion-icon slot="icon-only" name="shuffle-outline" class="small-icon"></ion-icon>
                </ion-button>
              </ion-col>
            }
            <ion-col [size]="showShuffleButton ? '4' : '6'" class="ion-text-center">
              <ion-button (click)="seekForward()" color="light">
                <ion-icon slot="icon-only" name="play-forward" class="small-icon"></ion-icon>
              </ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
