<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
      <ion-title>Create entry</ion-title>
      <ion-buttons slot="end">
        <ion-button>Delete</ion-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Source</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    Source: <ion-select></ion-select>
                </ion-row>
            </ion-grid>        
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
          <ion-card-title>Folder</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-label>Category</ion-label>
                    <ion-segment [scrollable]="true" value="audiobook">
                        <ion-segment-button value="audiobook">
                            Audiobook
                        </ion-segment-button>
                        <ion-segment-button value="music">
                            Music
                        </ion-segment-button>
                        <ion-segment-button value="other">
                            Other
                        </ion-segment-button>
                    </ion-segment>
                </ion-row>
                <ion-row>
                    Folder name
                </ion-row>
                <ion-row>
                    Folder image
                </ion-row>
                <ion-row>
                    Sorting order
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Settings</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
            Shuffle, range, cover, title
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons>
            <ion-button>Cancel</ion-button>
            <ion-button>Save</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
