<ion-header class="home-header">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="resume()">
        <ion-icon slot="icon-only" name="timer-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-segment value="{{this.category()}}" (ionChange)="categoryChanged($event)">
      <ion-segment-button value="audiobook">
        <ion-icon name="book-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="music">
        <ion-icon name="musical-notes-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="other">
        <ion-icon name="radio-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    
    <ion-buttons slot="end">
      <ion-button class="status-icons" (click)="editButtonPressed()">
          @if (isOnline()) {
            <ion-icon name="cloud-outline"></ion-icon>
          } @else {
            <ion-icon name="cloud-offline-outline"></ion-icon>
          }
          <mupihat-icon></mupihat-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <mupi-loading [loading]="isLoading()"></mupi-loading>
  @if (pageIsShown()) {
    <swiper-container #swiper slides-per-view="3" scrollbar="true" scrollbar-hide="true" free-mode="false" css-mode="true">
      @for (currentArtist of artists(); track currentArtist) {
        <swiper-slide>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-card class="circle-card">
                  <img (click)="artistCoverClicked(currentArtist)" draggable="false" style="-user-select: none;" ondragstart="return false;" src="{{currentArtist.cover}}">
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row class="title-card">
              <ion-col size="12">
                <ion-card (click)="readText(currentArtist.name)">
                  <ion-card-header>
                    <ion-card-title class="ion-text-nowrap truncate-text ion-text-center">{{currentArtist.name}}</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </swiper-slide>
      }
    </swiper-container>
  }
</ion-content>
