<ion-header class="player-header">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/medialist"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbar-album">
      @if (media.type ==='spotify' && currentPlayedSpotify?.currently_playing_type !== 'episode') {
        <div>{{(spotify$ | async)?.item.album.name}}</div>
      } @else {
        @if (media.showid) {
          <div>{{(episode$ | async)?.show.name}}</div>
        } @else {
          @if (media.type ==='library') {
            <div>{{(local$ | async)?.album}}</div>
          } @else {
            @if (media.type ==='rss') {
              <div>{{media.artist}}</div>
            } @else {
              <div>{{media.title}}</div>
            }
          }
        }
      }
    </ion-title>
    <ion-title class="toolbar-tracktitle">
      @if (media.type ==='spotify' && currentPlayedSpotify?.currently_playing_type !== 'episode') {
        <div>{{(spotify$ | async)?.item.name}}</div>
      } @else {
        @if (media.showid) {
          <div>{{(episode$ | async)?.name}}</div>
        } @else {
          @if (media.type ==='library') {
            <div>{{(local$ | async)?.currentTrackname}}</div>
          } @else {
            @if (media.type ==='rss') {
              <div>{{media.title}}</div>
            } @else {
              <div></div>
            }
          }
        }
      }
    </ion-title>
    <ion-title class="toolbar-tracknumber" slot="end">
      <div>{{(local$ | async)?.volume}}%</div>
      @if (media.type ==='library') {
        <div>{{(local$ | async)?.currentTracknr}}/{{(local$ | async)?.totalTracks}}</div>
      } @else {
        @if (media.type ==='spotify' && !media.playlistid && currentPlayedSpotify?.currently_playing_type !== 'episode') {
          <div>{{(spotify$ | async)?.item.track_number}}/{{(spotify$ | async)?.item.album.total_tracks}}</div>
        } @else {
          @if (media.showid) {
            <div>{{showTrackNr}}/{{(episode$ | async)?.show.total_episodes}}</div>
          } @else {
            @if (media.type ==='spotify') {
              <div>{{playlistTrackNr}}/{{(local$ | async)?.totalPlaylist}}</div>
            } @else {
              <div></div>
            }
          }
        }
      }
    </ion-title>
    @if (hat_active && (mupihat$ | async)?.BatteryConnected === 1) {
      @if (mupihat.IBus > 0 && mupihat.Bat_SOC === '100%') {
        <ion-icon class="battery-icon" slot="end" src="../../assets/icon/MuPiHAT/Charging100.svg" size="large"></ion-icon>
      } @else {
        @if (mupihat.IBus > 0 && mupihat.Bat_SOC === '75%') {
          <ion-icon class="battery-icon" slot="end" src="../../assets/icon/MuPiHAT/Charging70.svg" size="large"></ion-icon>
        } @else {
          @if (mupihat.IBus > 0 && mupihat.Bat_SOC === '50%') {
            <ion-icon class="battery-icon" slot="end" src="../../assets/icon/MuPiHAT/Charging50.svg" size="large"></ion-icon>
          } @else {
            @if (mupihat.IBus > 0 && mupihat.Bat_SOC === '25%') {
              <ion-icon class="battery-icon" slot="end" src="../../assets/icon/MuPiHAT/Charging20.svg" size="large"></ion-icon>
            } @else {
              @if (mupihat.IBus > 0 && mupihat.Bat_SOC === '0%') {
                <ion-icon class="battery-icon" slot="end" src="../../assets/icon/MuPiHAT/Charging0.svg" size="large"></ion-icon>
              } @else {
                @if (mupihat.Bat_SOC === '100%') {
                  <ion-icon class="battery-icon" slot="end" src="../../assets/icon/MuPiHAT/Battery100.svg" size="large"></ion-icon>
                } @else {
                  @if (mupihat.Bat_SOC === '75%') {
                    <ion-icon class="battery-icon" slot="end" src="../../assets/icon/MuPiHAT/Battery70.svg" size="large"></ion-icon>
                  } @else {
                    @if (mupihat.Bat_SOC === '50%') {
                      <ion-icon class="battery-icon" slot="end" src="../../assets/icon/MuPiHAT/Battery50.svg" size="large"></ion-icon>
                    } @else {
                      @if (mupihat.Bat_SOC === '25%') {
                        <ion-icon class="battery-icon" slot="end" src="../../assets/icon/MuPiHAT/Battery20.svg" size="large"></ion-icon>
                      } @else {
                        @if (mupihat.Bat_SOC === '0%') {
                          <ion-icon class="battery-icon" slot="end" src="../../assets/icon/MuPiHAT/Battery0.svg" size="large"></ion-icon>
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  </ion-toolbar>
</ion-header>

<ion-content class="player-content">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="cover-card">
          <img src="{{this.cover}} " draggable="false" style="-moz-user-select: none;" ondragstart="return false;">
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-grid class="controls">
          <ion-row class="slider-row">
            @if (media.type !=='radio') {
              <ion-range #range [(ngModel)]="progress" max="100" (touchend)="seek()" (mouseup)="seek()"></ion-range>
            }
          </ion-row>
          <ion-row class="controls-row">
            <ion-col size="4" class="ion-text-center">
              <ion-button (click)="volDown()" color="light">
                <ion-icon slot="icon-only" name="volume-low-outline" class="small-icon"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <ion-button (click)="playPause()" color="light">
                @if (playing) {
                  <ion-icon slot="icon-only" name="pause" class="small-icon"></ion-icon>
                }
                @if (!playing) {
                  <ion-icon slot="icon-only" name="play" class="small-icon"></ion-icon>
                }
              </ion-button>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <ion-button (click)="volUp()" color="light">
                <ion-icon slot="icon-only" name="volume-high-outline" class="small-icon"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="controls-row">
            <ion-col size="6" class="ion-text-center">
              <ion-button [disabled]="this.media.showid" (click)="skipPrev()" color="light">
                <ion-icon slot="icon-only" name="play-skip-back" class="small-icon"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <ion-button [disabled]="this.media.showid" (click)="skipNext()" color="light">
                <ion-icon slot="icon-only" name="play-skip-forward" class="small-icon"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          @if (media.type ==='spotify' && (media.category =='music' || media.category =='other')) {
            <ion-row class="controls-row">
              <ion-col size="4" class="ion-text-center">
                <ion-button (click)="seekBack()" color="light">
                  <ion-icon slot="icon-only" name="play-back" class="small-icon"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                @if (!media.shuffle) {
                  <ion-button (click)="toggleshuffle()" color="light">
                    <ion-icon slot="icon-only" name="shuffle-outline" class="small-icon"></ion-icon>
                  </ion-button>
                }
                @if (media.shuffle) {
                  <ion-button (click)="toggleshuffle()" color="dark">
                    <ion-icon slot="icon-only" name="shuffle-outline" class="small-icon"></ion-icon>
                  </ion-button>
                }
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                <ion-button (click)="seekForward()" color="light">
                  <ion-icon slot="icon-only" name="play-forward" class="small-icon"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          } @else {
            <ion-row class="controls-row">
              <ion-col size="6" class="ion-text-center">
                <ion-button (click)="seekBack()" color="light">
                  <ion-icon slot="icon-only" name="play-back" class="small-icon"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="6" class="ion-text-center">
                <ion-button (click)="seekForward()" color="light">
                  <ion-icon slot="icon-only" name="play-forward" class="small-icon"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          }
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
