ion-back-button {
    --min-height: 70px;
    --min-width: 120px;
    --icon-font-size: 30px;
}

ion-range{
    --bar-height: 6px;
    --knob-size: 25px;
    --knob-border-radius: 50%;
    --bar-border-radius: 20px;
    --knob-box-shadow: 0px 0px 0px 3px #fff;
}

.cover-card {
    margin-top: 20px;
    width: 350px;
    height: 350px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.toolbar-album {
	width: 650px;
}

.toolbar-tracktitle {
	width: 650px;
}

.toolbar-volume {
	min-width: 80px;
	max-width: 150px;
}

.toolbar-tracknumber {
	min-width: 80px;
	max-width: 150px;
}

.play-controls{
        margin-top:0px;
}


.indicator-button {
    opacity: 0.35;
    pointer-events: none;
}

.volume-controls {
    margin-top: 50px;
}

.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.small-icon {
    font-size: 30px !important;
}

ion-button {
    --padding-start: 35px;
    --padding-end: 35px;
    --padding-top: 35px;
    --padding-bottom: 35px;
    font-size: 30px !important;
}

.volume-button {
    --background: #262626;
}