<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-back-button icon="arrow-back-outline" defaultHref="/medialist"></ion-back-button>
        </ion-buttons>
        <ion-title class="toolbar-album">
            <div *ngIf="media.type ==='spotify' && media.category !=='playlist'; else elseBlockAlbumLocal">{{(spotify$ | async)?.item.album.name}}</div>
            <ng-template #elseBlockAlbumLocal><div *ngIf="media.type ==='library'; else elseBlockAlbumRadio">{{(local$ | async)?.album}}</div></ng-template>
            <ng-template #elseBlockAlbumRadio><div>{{media.title}}</div></ng-template>
        </ion-title>
        <ion-title class="toolbar-tracktitle">
            <div *ngIf="media.type ==='spotify' && currentPlayedSpotify?.currently_playing_type !== 'episode'; else elseBlockTitelLocal">{{(spotify$ | async)?.item.name}}</div>
            <ng-template #elseBlockTitelLocal><div *ngIf="media.type ==='library'; else elseBlockTitelRadio">{{(local$ | async)?.currentTrackname}}</div></ng-template>
            <ng-template #elseBlockTitelRadio><div></div></ng-template>
        </ion-title>
        <ion-title class="toolbar-tracknumber" slot="end">
            <div>{{(local$ | async)?.volume}}%</div>
            <div *ngIf="media.type ==='library'; else elseBlockTrackSpotify">{{(local$ | async)?.currentTracknr}}/{{(local$ | async)?.totalTracks}}</div>
            <ng-template #elseBlockTrackSpotify><div *ngIf="media.type ==='spotify' && media.category !=='playlist'; else elseBlockPlaylist">{{(spotify$ | async)?.item.track_number}}/{{(spotify$ | async)?.item.album.total_tracks}}</div></ng-template>
            <ng-template #elseBlockPlaylist><div *ngIf="media.type ==='spotify'; else elseBlockTrackRadio">{{playlistTrackNr}}/{{(playlist$ | async)?.total}}</div></ng-template>
            <ng-template #elseBlockTrackRadio><div></div></ng-template>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-card class="cover-card">
                    <img src="{{this.cover}} " draggable="false" style="-moz-user-select: none;" ondragstart="return false;">
                </ion-card>
            </ion-col>

            <ion-col size="6">
                <ion-item lines="none">
                    <ion-range *ngIf="currentPlayedSpotify?.currently_playing_type !== 'episode' || media.type !=='radio'" #range [(ngModel)]="progress" max="100" (touchend)="seek()" (mouseup)="seek()"></ion-range>
                </ion-item>
                <ion-grid>
                    <ion-row class="play-controls">
                        <ion-col size="4" class="ion-text-center">
                            <ion-button (click)="volDown()" color="light">
                                <ion-icon slot="icon-only" name="remove" class="small-icon"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-text-center">
                            <ion-button (click)="playPause()" color="light">
                                <ion-icon *ngIf="playing" slot="icon-only" name="pause" class="small-icon"></ion-icon>
                                <ion-icon *ngIf="!playing" slot="icon-only" name="play" class="small-icon"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-text-center">
                            <ion-button (click)="volUp()" color="light">
                                <ion-icon slot="icon-only" name="add" class="small-icon"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>

                    <ion-row class="volume-controls">
                        <ion-col size="6" class="ion-text-center">
                            <ion-button (click)="skipPrev()" color="light">
                                <ion-icon slot="icon-only" name="play-skip-back" class="small-icon"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col size="6" class="ion-text-center">
                            <ion-button (click)="skipNext()" color="light">
                                <ion-icon slot="icon-only" name="play-skip-forward" class="small-icon"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>

                    <ion-row *ngIf="media.type ==='spotify' && (media.category =='playlist' || media.category =='music'); else elseBlock" class="volume-controls">
                        <ion-col size="4" class="ion-text-center">
                            <ion-button (click)="seekBack()" color="light">
                                <ion-icon slot="icon-only" name="play-back" class="small-icon"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-text-center">
                            <ion-button *ngIf="!media.shuffle" (click)="toggleshuffle()" color="light">
                                <ion-icon slot="icon-only" name="shuffle-outline" class="small-icon"></ion-icon>
                            </ion-button>
                            <ion-button *ngIf="media.shuffle" (click)="toggleshuffle()" color="dark">
                                <ion-icon slot="icon-only" name="shuffle-outline" class="small-icon"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-text-center">
                            <ion-button (click)="seekForward()" color="light">
                                <ion-icon slot="icon-only" name="play-forward" class="small-icon"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                    <ng-template #elseBlock>
                        <ion-row class="volume-controls">
                            <ion-col size="6" class="ion-text-center">
                                <ion-button (click)="seekBack()" color="light">
                                    <ion-icon slot="icon-only" name="play-back" class="small-icon"></ion-icon>
                                </ion-button>
                            </ion-col>
                            <ion-col size="6" class="ion-text-center">
                                <ion-button (click)="seekForward()" color="light">
                                    <ion-icon slot="icon-only" name="play-forward" class="small-icon"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ng-template>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
