/*
BG body{--ion-background-color: #008E21;
FG --ion-color-light: #DE0000;
*/

ion-range{
    --knob-background: #870000;
    --bar-background-active: #870000;
    --bar-background:	#870000;
}

body{
--ion-color-light: #002d5c !important;
--ion-item-background: transparent !important;
}
.md body{--ion-background-color: #870000 !important;
}

ion-card {
    --background: #002d5c !important;
}
