/*
BG body{--ion-background-color: #ccac8c;
FG --ion-color-light: #553c2b;
*/

ion-range{
    --knob-background: #553c2b;
    --bar-background-active: #553c2b;
    --bar-background: #553c2b;
    --bar-height: 6px;
    --knob-size: 25px;
    --knob-border-radius: 50%;
    --bar-border-radius: 20px;
    --knob-box-shadow: 0px 0px 0px 2px #fff;
}

body{
--ion-color-light: #553c2b !important;
--ion-item-background: transparent !important;
}
.md body{--ion-background-color: #ccac8c !important;
}