.player-content ion-range{
        --knob-background: #000000;
        --bar-background-active: #efefef;
        --bar-background: rgba(255,255,255,.2) !important;
}

.player-content ion-item{
        --background: transparent !important;
        box-shadow: 0 0 0 0 !imporant;
}

.ion-page .home-header, .ion-page .home-content, .ion-page .medialist-header, .ion-page .medialist-content, .ion-page .player-header, .ion-page .player-content{
        --ion-color-light: rgba(0,0,0,.6) !important;
}

.ion-page{
        background-image: url("/theme-data/custom/custom-bg.jpg") !important;
        background-size: cover !important;
}

body .home-content, body .medialist-content, body .player-content{
        --ion-background-color: transparent !important;
}

/*ion-col ion-button {
        height: 70px !important;
        background-color:rgba(177,19,19,.2) !important;
        margin-bottom:35px !important;
}*/

.home-content .ion-text-nowrap, .medialist-content .ion-text-nowrap {
        font-size:170% !important;
        color:#ffffff !important;
  }

.medialist-header ion-title, .player-header ion-title {
        color: #ffffff !important;
}


.medialist-content ion-card, .home-content ion-card {
        background: transparent !important;
        box-shadow: 0px 0px 0px 0px !important;
}

.home-content .circle-card {
        border: 8px solid rgba(246, 45, 20,.4) !important;
        background-color: transparent !important;
}

.medialist-content ion-card-header, .home-content ion-card-header {
        border: 0 !important;
        background: rgba(250, 214, 29,.6) !important;
        box-shadow: 10px 20px 0px 0px !important;
}

body .edit-header, body .add-header, body .admin-header {
        --ion-color-light: #054b61 !important;
}

ion-spinner{
        color: #FAD61D !important;
}
body .home-content, body .medialist-content, body .player-content{
        --ion-background-color: transparent !important;
}

/*ion-col ion-button {
        height: 70px !important;
        background-color:rgba(255,255,255,.1) !important;
        margin-bottom:-35px !important;
}*/

@font-face {
        font-family: "BerlinSmallCaps";
        src: url("/theme-data/dinosaur/BerlinSmallCaps.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        }


.home-content .ion-text-nowrap, .medialist-content .ion-text-nowrap {
        font-family: "BerlinSmallCaps" !important;
        font-size:160% !important;
        color:#ffffff !important;
  }

.medialist-header ion-title, .player-header ion-title {
        color: #ffffff !important;
        font-family: "BerlinSmallCaps" !important;
        font-size:160% !important;
}


.medialist-content ion-card, .home-content ion-card {
        background: transparent !important;
        box-shadow: 0px 0px 0px 0px !important;
}

.home-content .circle-card {
        border: 8px solid rgba(255,255,255,.2) !important;
        background-color: transparent !important;
}

.medialist-content ion-card-header, .home-content ion-card-header {
        border: 0 !important;
        background: rgba(0,0,0,.4) !important;
        box-shadow: 10px 20px 0px 0px !important;
}

body .edit-header, body .add-header, body .admin-header {
        --ion-color-light: #054b61 !important;
}

ion-spinner{
        color: #ffffff !important;
}
