/*
BG body{--ion-background-color: #008E21;
FG --ion-color-light: #DE0000;
*/

ion-range{
    --knob-background: #FEE715;
    --bar-background-active: #FEE715;
    --bar-background:	#FEE715;
}

body{
--ion-color-light: #101820 !important;
--ion-item-background: transparent !important;
}
.md body{--ion-background-color: #FEE715 !important;
}

ion-card {
    --background: #101820 !important;
}
