/*
BG body{--ion-background-color: #0C0032;
FG --ion-color-light: #3500D3;
*/

ion-range{
    --knob-background: #3500D3;
    --bar-background-active: #3500D3;
    --bar-background: #3500D3;
}

body{
--ion-color-light: #3500D3 !important;
--ion-item-background: transparent !important;
}
.md body{--ion-background-color: #0C0032 !important;
}