ion-range{
	--knob-background: #4287f5;
	--bar-background-active: #4287f5;
	--bar-background: rgba(255,255,255,.2) !important;
}

ion-item{
	--background: transparent !important;
	box-shadow: 0 0 0 0 !imporant;
}

.ion-page{
	--ion-color-light: transparent !important;
	background-image: url("/theme-data/earth/earth-bg.jpg") !important;
}

.md body{
	--ion-background-color: transparent !important;
}

ion-col ion-button {
	height: 70px;
	background-color:rgba(255,255,255,.1) !important;
}

@font-face {
	font-family: "Nasa21";
	src: url("/theme-data/earth/Nasa21.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
        }


.ion-text-nowrap {
	font-family: "Nasa21" !important;
	font-size:160% !important;
	color:#ffffff !important;
  }


ion-card-title.ion-text-nowrap.truncate-text {

/*      color: #000000 !important;*/
}


ion-card {
	background: transparent !important;
	box-shadow: 0px 0px 0px 0px !important;	
}

.circle-card {
	margin:0 !important;
	border: 8px solid rgba(255,255,255,.2) !important;
	background-color: #transparent !important;
}

ion-card-header{
	border: 0 !important;
	background: rgba(0,0,0,.4) !important;
	box-shadow: 10px 20px 0px 0px !important;
}