.ion-page .home-header, .ion-page .home-content, .ion-page .medialist-header, .ion-page .medialist-content, .ion-page .player-header, .ion-page .player-content{
        --ion-color-light: rgba(0,0,0,.4) !important;
}


.ion-page{
	background-image: url("/theme-data/fantasybutterflies/fantasy-butterflies-bg.jpg") !important;
	background-size: cover !important;
}

body .home-content, body .medialist-content, body .player-content{
        --ion-background-color: transparent !important;
}

@font-face {
	font-family: "Odstemplik";
	src: url("/theme-data/fantasybutterflies/odstemplikBold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

.home-content .ion-text-nowrap, .medialist-content .ion-text-nowrap {
	font-family: "Odstemplik" !important;
	font-size:160% !important;
	color:#ffffff !important;
}

.player-content ion-range{
	--knob-background: #4287f5;
	--bar-background-active: #4287f5;
	--bar-background: rgba(255,255,255,.2) !important;
}

.player-content ion-item{
	--background: transparent !important;
}

.medialist-header ion-title, .player-header ion-title {
	color: #ffffff !important;
	font-family: "Odstemplik" !important;
	font-size:160% !important;
}

.home-content .circle-card img{
	margin:auto !important;
	display:block !important;
	border-radius:50% !important;
	border: 5px solid rgba(255,255,255,.5) !important;
}

.home-content .circle-card {
	border-radius: 0px !important;
	border: 0px solid transparent !important;
	padding: 2.2rem !important;
	background-color: transparent !important;
	background-image: url("/theme-data/fantasybutterflies/fantasy-circle-bg.png") !important;
	background-size: 240px 240px !important;
	display: flex;
	justify-content: center;
	box-shadow:0 0 0 0 !important;
}

.medialist-content ion-card, .home-content ion-card {
	background: transparent !important;
}

.medialist-content ion-card-header, .home-content ion-card-header {
	border: 0 !important;
	background: rgba(0,0,0,.4) !important;
}

body .edit-header, body .add-header, body .admin-header {
	--ion-color-light: #054b61 !important;
}

ion-spinner{
        color: #ffffff !important;
}