/*
BG body{--ion-background-color: #a7d1a7;
FG --ion-color-light: #439c43;
*/

ion-range{
    --knob-background: #439c43;
    --bar-background-active: #439c43;
    --bar-background: #439c43;
}

body{
--ion-color-light: #439c43 !important;
--ion-item-background: transparent !important;
}
.md body{--ion-background-color: #a7d1a7 !important;
}

ion-card {
    --background: #439c43 !important;
}