/*
BG body{--ion-background-color: #008E21;
FG --ion-color-light: #DE0000;
*/

ion-range{
    --knob-background: #FCC200;
    --bar-background-active: #FCC200;
    --bar-background: #FCC200;
}

body{
	--ion-color-light: #CC0000 !important;
	--ion-item-background: transparent !important;
}
.md body{
	--ion-background-color: #FCC200 !important;
}

ion-card {
    --background: #CC0000 !important;
}

ion-card-title.ion-text-nowrap.truncate-text {
/*	color: #000000 !important;*/
}