/*
BG body{--ion-background-color: #eeeeee;
FG --ion-color-light: #888888;
*/

ion-range{
    --knob-background: #888888;
    --bar-background-active: #888888;
    --bar-background: #888888;
    --bar-height: 6px;
    --knob-size: 25px;
    --knob-border-radius: 50%;
    --bar-border-radius: 20px;
    --knob-box-shadow: 0px 0px 0px 2px #fff;
}

body{
--ion-color-light: #888888 !important;
--ion-item-background: transparent !important;
}
.md body{--ion-background-color: #eeeeee !important;
}