/*
BG body{--ion-background-color: #eeeeee;
FG --ion-color-light: #888888;
*/

ion-range{
    --knob-background: #888888;
    --bar-background-active: #888888;
    --bar-background: #888888;
}

body{
	--ion-color-light: #888888 !important;
	--ion-item-background: transparent !important;
}
.md body{
	--ion-background-color: #eeeeee !important;
}

ion-card {
    --background: #888888 !important;
}

ion-card-title.ion-text-nowrap.truncate-text {
/*	color: #000000 !important;*/
}

ion-spinner{
        color: #eeeeee !important;
}