.player-content ion-range{
	--knob-background: #00ebea;
	--bar-background-active: #f50261;
	--bar-background: rgba(255,255,255,.4) !important;
}

.player-content ion-item{
	--background: transparent !important;
}

.ion-page .home-header, .ion-page .home-content, .ion-page .medialist-header, .ion-page .medialist-content, .ion-page .player-header {
	--ion-color-light: #fdcb01 !important;
}

.ion-page .player-content {
	--ion-color-light: #00ebea !important;
}

.ion-page{
	background-image: url("/theme-data/lines/lines-bg.png") !important;
	background-size: cover !important;
}

body .home-content, body .medialist-content, body .player-content{
	--ion-background-color: transparent !important;
}

@font-face {
	font-family: "Komikandy";
	src: url("/theme-data/lines/KOMIKND_.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}


.home-content .ion-text-nowrap, .medialist-content .ion-text-nowrap {
	font-family: "Komikandy" !important;
	font-size:120% !important;
	color:#250448 !important;
	padding-bottom: 0px !important;
}

.player-header ion-icon, .player-content ion-icon, .home-header ion-icon, .medialist-header ion-icon {
	color: #250448 !important;
}

.medialist-header ion-back-button, .player-header ion-back-button {
	color: #250448 !important;
}

.player-header .ion-activatable, .home-header .ion-activatable, .medialist-header .ion-activatable {
	--background-hover-opacity: 0.3 !important;
	--indicator-height: 8px !important;
	--ion-color-contrast: #f60261 !important;
}

.medialist-header ion-title, .player-header ion-title {
	color: #250448 !important;
	font-family: "Komikandy" !important;
	font-size:120% !important;
}

.medialist-content img, .player-content img {
	border: 8px solid #f60261 !important;
	background-color: transparent !important;
}

.medialist-content ion-card, .home-content ion-card {
	background: transparent !important;
}

.home-content .circle-card {
	border: 8px solid #f60261 !important;
	background-color: transparent !important;
}

.medialist-content ion-card-header, .home-content ion-card-header {
	border: 0 !important;
	background: #00ebea !important;
	padding: 16px 10px !important;
}

body .edit-header, body .add-header, body .admin-header {
	--ion-color-light: #054b61 !important;
}
