/*
BG body{--ion-background-color: #008E21;
FG --ion-color-light: #DE0000;
*/

ion-range{
    --knob-background: #00FF41;
    --bar-background-active: #00FF41;
    --bar-background:	#00FF41;
}

body{
	--ion-color-light: #0D0208 !important;
	--ion-item-background: transparent !important;
}
.md body{
	--ion-background-color: #00FF41 !important;
}

ion-card {
    --background: #0D0208 !important;
}

ion-card-title.ion-text-nowrap.truncate-text {
/*	color: #000000 !important;*/
}