/*
BG body{--ion-background-color: #f1b3b3;
FG --ion-color-light: #a12830;
*/

ion-range{
    --knob-background: #a12830;
    --bar-background-active: #a12830;
    --bar-background: #a12830;
}

body{
	--ion-color-light: #a12830 !important;
	--ion-item-background: transparent !important;
}
.md body{
	--ion-background-color: #f1b3b3 !important;
}

ion-card {
    --background: #a12830 !important;
}

ion-card-title.ion-text-nowrap.truncate-text {
/*	color: #000000 !important;*/
}