/*
BG body{--ion-background-color: #182335;
FG --ion-color-light: #e15546;
*/

ion-range{
    --knob-background: #e15546;
    --bar-background-active: #e15546;
    --bar-background: #e15546;
}

body{
--ion-color-light: #e15546 !important;
--ion-item-background: transparent !important;
}
.md body{--ion-background-color: #182335 !important;
}