ion-col {
    user-select: text !important;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
}

ion-toolbar {
    --padding-end: 80px;
    ion-back-button {
        --min-height: 70px;
        --min-width: 120px;
        --icon-font-size: 30px;
    }
    ion-button {
        height: 70px !important;
        width: 70px !important;
        font-size: 20px !important;
    }
}

ion-item {
    --border-color: #c0c0c0;
    --inner-padding-top: 10px;
    --inner-padding-bottom: 10px;
}

ion-grid {
    width: 100%;
}

p {
    color: #ffffff;
    font-size: 18px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.transparent {
    opacity: 0.65;
}

.vertical-center-content {
    display: flex;
    align-items: center;
}

.round {
    width: 34px;
    height: 34px;
    --border-radius: 50%;
    --vertical-align: middle;
    --padding-start: 4px;
    --padding-end: 4px;
}

.larger {
    font-size: 20px;
}

.edit-content {
    --ion-background-color: #000000 !important;
}