<!-- Cover Flow: the centered cover faces front, all others are tilted towards it (see applyCoverflow). -->
  <swiper-container #swiper (click)="slideClicked($event)" (swiperprogress)="applyCoverflow()" (swipersettranslate)="applyCoverflow()" (swiperinit)="applyCoverflow()" watch-slides-progress="true" centered-slides="true" slides-per-view="auto" space-between="-272" grab-cursor="true" touch-ratio="0.67" scrollbar="true" scrollbar-hide="false" scrollbar-draggable="true" scrollbar-drag-size="auto" scrollbar-snap-on-release="true">
    @for (currentData of shownData(); track currentData) {
      <swiper-slide>
        <ion-grid>
          <ion-row class="img-row">
            <ion-col size="12">
              <ion-card>
                <img draggable="false" ondragstart="return false;" loading="lazy" src="{{currentData.imgSrc | async}}">
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
    }
  </swiper-container>
