@if ((config$ | async)?.hat_active) {
@if ((mupihat$ | async); as mupihat) {
@if (mupihat?.BatteryConnected === 1) {
    @if (mupihat.IBus > 0 && mupihat.Bat_SOC === '100%') {
      <ion-icon src="../../assets/icon/MuPiHAT/Charging100.svg" size="large"></ion-icon>
    } @else {
      @if (mupihat.IBus > 0 && mupihat.Bat_SOC === '75%') {
        <ion-icon src="../../assets/icon/MuPiHAT/Charging70.svg" size="large"></ion-icon>
      } @else {
        @if (mupihat.IBus > 0 && mupihat.Bat_SOC === '50%') {
          <ion-icon src="../../assets/icon/MuPiHAT/Charging50.svg" size="large"></ion-icon>
        } @else {
          @if (mupihat.IBus > 0 && mupihat.Bat_SOC === '25%') {
            <ion-icon src="../../assets/icon/MuPiHAT/Charging20.svg" size="large"></ion-icon>
          } @else {
            @if (mupihat.IBus > 0 && mupihat.Bat_SOC === '0%') {
              <ion-icon src="../../assets/icon/MuPiHAT/Charging0.svg" size="large"></ion-icon>
            } @else {
              @if (mupihat.Bat_SOC === '100%') {
                <ion-icon src="../../assets/icon/MuPiHAT/Battery100.svg" size="large"></ion-icon>
              } @else {
                @if (mupihat.Bat_SOC === '75%') {
                  <ion-icon src="../../assets/icon/MuPiHAT/Battery70.svg" size="large"></ion-icon>
                } @else {
                  @if (mupihat.Bat_SOC === '50%') {
                    <ion-icon src="../../assets/icon/MuPiHAT/Battery50.svg" size="large"></ion-icon>
                  } @else {
                    @if (mupihat.Bat_SOC === '25%') {
                      <ion-icon src="../../assets/icon/MuPiHAT/Battery20.svg" size="large"></ion-icon>
                    } @else {
                      @if (mupihat.Bat_SOC === '0%') {
                        <ion-icon src="../../assets/icon/MuPiHAT/Battery0.svg" size="large"></ion-icon>
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
}
