<ion-header class="add-header">
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-button (click)="cancelButtonPressed()" expand="block"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
        </ion-buttons>
        <ion-segment #segment value="Add media" (ionChange)="segmentChanged($event)">
            <ion-segment-button #wlan_segment value="Add media">
                <ion-label>Add media</ion-label>
            </ion-segment-button>
        </ion-segment>
        <ion-buttons slot="end">
            <ion-button size="large" type="submit" expand="block" [disabled]="!valid" (click)="submit(addMediaForm)"><ion-icon slot="icon-only" name="save-outline"></ion-icon></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="add-content">
    <form #addMediaForm="ngForm" (ngSubmit)="submit(addMediaForm)">
        <ion-grid>
            <ion-row>
                <ion-col size="4">
                    <div>
                        <ion-item>
                            <ion-label class="dimmed-text">Category</ion-label>
                            <ion-select #categorySelect interface="popover" [(ngModel)]="category" name="category" (ionChange)="categoryChanged($event)">
                                <ion-select-option value="audiobook">audiobook</ion-select-option>
                                <ion-select-option value="music">music</ion-select-option>
                                <ion-select-option value="other">other</ion-select-option>
                              </ion-select>
                        </ion-item>
                    </div>
                </ion-col>
                <ion-col size="4">
                    <div>
                        <ion-item>
                            <ion-label class="dimmed-text">Source type</ion-label>
                            <ion-select #sourceTypeSelect interface="popover" [(ngModel)]="sourceType" name="sourceType" (ionChange)="sourceTypeChanged($event)">
                                <ion-select-option value="spotifyURL">Spotify URL</ion-select-option>
                                <ion-select-option value="spotifySearch">Spotify Search Query</ion-select-option>
                                <ion-select-option value="rssURL">RSS/Podcast URL</ion-select-option>
                                <ion-select-option value="streamURL">Stream/Radio URL</ion-select-option>
                              </ion-select>
                        </ion-item>
                    </div>
                </ion-col>
                <ion-col size="4">
                    <div>
                        <ion-item>
                            <ion-input #label [ngModel]="editMedia?.artist" name="label" type="text" placeholder="Label" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                        </ion-item>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="3">
                    <div>
                        <ion-item>
                            <ion-input #title [ngModel]="editMedia?.title" name="title" type="text" placeholder="Title" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                        </ion-item>
                    </div>
                </ion-col>
                <ion-col size="3">
                    <div>
                        <ion-item>
                            <ion-input #cover [ngModel]="editMedia?.cover" name="cover" type="text" placeholder="opt. Cover URL" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                        </ion-item>
                    </div>
                </ion-col>
                <ion-col size="3">
                    <div>
                        <ion-item [ngSwitch]="sourceType">
                            <ion-input *ngSwitchCase="'spotifyURL'" #spotifyURL [ngModel]="editMedia?.spotify_url" name="spotifyURL" type="text" placeholder="Spotify URL" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                            <ion-input *ngSwitchCase="'spotifySearch'" #spotifySearch [ngModel]="editMedia?.query" name="spotifySearch" type="text" placeholder="Spotify Search Query" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                            <ion-input *ngSwitchCase="'rssURL'" #rssURL [ngModel]="editMedia?.id" name="rssURL" type="text" placeholder="RSS/Podcast URL" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                            <ion-input *ngSwitchCase="'streamURL'" #streamURL [ngModel]="editMedia?.id" name="streamURL" type="text" placeholder="Stream/Radio URL" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                        </ion-item>
                    </div>
                </ion-col>
                <ion-col size="3">
                    <div>
                        <ion-item>
                            <ion-input #labelcover [ngModel]="editMedia?.artistcover" name="labelcover" type="text" placeholder="opt. Label Cover URL" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                        </ion-item>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="2">
                    <div>
                        <ion-item>
                            <ion-label>Shuffle Mode</ion-label>
                            <ion-checkbox #spotify_shuffle name="spotify_shuffle" [(ngModel)]="shuffle" (ionChange)="validate()"></ion-checkbox>
                        </ion-item>
                    </div>
                </ion-col>
                <ion-col size="2">
                    <div>
                        <ion-item>
                            <ion-label class="dimmed-text">Sorting</ion-label>
                            <ion-select #sortingSelect interface="popover" [(ngModel)]="sorting" name="sorting">
                                <ion-select-option value="AlphabeticalAscending">alphabetical asc.</ion-select-option>
                                <ion-select-option value="AlphabeticalDescending">alphabetical desc.</ion-select-option>
                                <ion-select-option value="ReleaseDateAscending">release date asc.</ion-select-option>
                                <ion-select-option value="ReleaseDateDescending">release date desc.</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </div>
                </ion-col>
                <ion-col size="2">
                    <div>
                        <ion-item>
                            <ion-label>Interval</ion-label>
                            <ion-checkbox #spotify_aPartOfAll name="spotify_aPartOfAll" [(ngModel)]="aPartOfAll" (ionChange)="validate()"></ion-checkbox>
                        </ion-item>
                    </div>
                </ion-col>
                <ion-col size="3">
                    <div class="mupi-inline-label">
                        <label>Start:</label>
                        <ion-item>
                            <ion-input #spotify_aPartOfAllMin [(ngModel)]="aPartOfAllMin" name="spotify_aPartOfAllMin" type="number" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                        </ion-item>
                    </div>
                </ion-col>
                <ion-col size="3">
                    <div class="mupi-inline-label">
                        <label>End:</label>
                        <ion-item>
                            <ion-input #spotify_aPartOfAllMax [(ngModel)]="aPartOfAllMax" name="spotify_aPartOfAllMax" type="number" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                        </ion-item>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6">
                    <div>
                        <div class="add-button">
                            <ion-button *ngIf="edit; else elseBlockspotify" size="large" type="submit" expand="block" [disabled]="!valid">Edit</ion-button>
                            <ng-template #elseBlockspotify><ion-button size="large" type="submit" expand="block" [disabled]="!valid">Add</ion-button></ng-template>
                        </div>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <div>
                        <div class="cancel-button">
                            <ion-button size="large" color="danger" (click)="cancelButtonPressed()" expand="block">Cancel</ion-button>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <div class="bottom">
        <div class="simple-keyboard"></div>
    </div>
</ion-content>
