<ion-header>
    <ion-toolbar color="light">
        <ion-select #select interface="popover" [(ngModel)]="category" (ionChange)="categoryChanged()" cancelText="Cancel" okText="Ok">
            <ion-select-option value="audiobook">Audiobook</ion-select-option>
            <ion-select-option value="music">Music</ion-select-option>
            <ion-select-option value="playlist">Playlist</ion-select-option>
            <ion-select-option value="radio">Radio</ion-select-option>
        </ion-select>
        <ion-buttons slot="start">
            <ion-button (click)="categoryButtonPressed($event)">
                <ion-icon slot="start" name="{{this.categoryIcons[this.category]}}" color="primary"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-segment #segment value="{{this.source}}" (ionChange)="segmentChanged($event)">
            <ion-segment-button #spotify_segment value="spotify">
                <ion-label>Spotify</ion-label>
            </ion-segment-button>
            <ion-segment-button #radio_segment value="radio">
                <ion-label>Radio</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="add-content">
    <div [ngSwitch]="source">
        <div *ngSwitchCase="'spotify'" class="top">
            <form #spotifyForm="ngForm" (ngSubmit)="submit(spotifyForm)">
                <ion-grid>
                    <ion-row>
                        <ion-col size="12">
                            <div>
                                <ion-item>
                                    <ion-label class="dimmed-text">Media search type</ion-label>
                                    <ion-select #searchTypeSelect interface="popover" [(ngModel)]="searchType" name="searchType" (ionChange)="searchTypeChanged()">
                                        <ion-select-option value="artist_id">Artist ID from Spotify</ion-select-option>
                                        <ion-select-option value="media_id">Media ID from Spotify</ion-select-option>
                                        <ion-select-option value="query">Search Query for Spotify</ion-select-option>
                                      </ion-select>
                                </ion-item>
                            </div>
                        </ion-col>
                        <!--<ion-col size="4">
                            <div>
                                <ion-item>
                                    <ion-label>Shuffle Mode</ion-label>
                                    <ion-checkbox #spotify_shuffle name="spotify_shuffle" [(ngModel)]="shuffle"></ion-checkbox>
                                </ion-item>
                            </div>
                        </ion-col> -->
                    </ion-row>

                    <ion-row>
                        <ion-col size="6">
                            <div>
                                <ion-item>
                                    <ion-input *ngIf="category === 'playlist'; else elseBlock" #spotify_title name="spotify_title" type="text" placeholder="Title" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                                    <ng-template #elseBlock><ion-input #spotify_artist name="spotify_artist" type="text" placeholder="Artist" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input></ng-template>
                                </ion-item>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <div>
                                <ion-item [ngSwitch]="searchType">
                                    <ion-input *ngSwitchCase="'artist_title'" #spotify_title name="spotify_title" type="text" placeholder="Title" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                                    <ion-input *ngSwitchCase="'media_id'" #spotify_id [(ngModel)]="editMedia.id" name="spotify_id" type="text" placeholder="Media ID" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                                    <ion-input *ngSwitchCase="'query'" #spotify_query name="spotify_query" type="text" placeholder="Search Query" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                                    <ion-input *ngSwitchCase="'artist_id'" #spotify_artistid name="spotify_artistid" type="text" placeholder="Unique Artist ID" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                                </ion-item>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="6">
                            <div>
                                <div class="add-button">
                                    <ion-button size="large" type="submit" expand="block" [disabled]="!valid">Add</ion-button>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <div>
                                <div class="cancel-button">
                                    <ion-button size="large" color="danger" (click)="cancelButtonPressed()" expand="block">Cancel</ion-button>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </div>

        <div *ngSwitchCase="'radio'" class="top">
            <form #libraryForm="ngForm" (ngSubmit)="submit(libraryForm)">
                <ion-grid>
                    <ion-row>
                        <ion-col size="6">
                            <div>
                                <ion-item>
                                    <ion-input #radio_title name="radio_title" type="text" placeholder="Title" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                                </ion-item>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <div>
                                <ion-item>
                                    <ion-input #radio_id name="radio_id" type="text" placeholder="Unique ID" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                                </ion-item>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <div>
                                <ion-item>
                                    <ion-input #radio_cover name="radio_cover" type="text" placeholder="Cover Artwork URL" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                                </ion-item>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="6">
                            <div>
                                <div class="add-button">
                                    <ion-button size="large" type="submit" expand="block" [disabled]="!valid">Add</ion-button>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <div>
                                <div class="cancel-button">
                                    <ion-button size="large" color="danger" (click)="cancelButtonPressed()" expand="block">Cancel</ion-button>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </div>
    </div>

    <div class="bottom">
        <div class="simple-keyboard"></div>
    </div>
</ion-content>