<ion-content class="settings-content mupi-page add-content">
  <mupi-settings-header [title]="edit ? 'Medium bearbeiten' : 'Medium hinzufügen'" backHref="/edit">
    <button type="button" class="btn-outline" (click)="cancelButtonPressed()">Abbrechen</button>
    <button type="button" class="pill-dark" [disabled]="!valid" (click)="submit(addMediaForm)">
      <ion-icon name="lucide-save"></ion-icon>
      Speichern
    </button>
  </mupi-settings-header>

  <form #addMediaForm="ngForm" (ngSubmit)="submit(addMediaForm)" class="add-form">
    <div class="settings-card fields-grid">
      <div class="settings-field">
        <label>Kategorie</label>
        <ion-select #categorySelect interface="popover" [(ngModel)]="category" name="category" (ionChange)="categoryChanged($event)">
          <ion-select-option value="audiobook">Hörspiele</ion-select-option>
          <ion-select-option value="music">Musik</ion-select-option>
          <ion-select-option value="other">Podcasts &amp; Radio</ion-select-option>
        </ion-select>
      </div>
      <div class="settings-field">
        <label>Quelle</label>
        <ion-select #sourceTypeSelect interface="popover" [(ngModel)]="sourceType" name="sourceType" (ionChange)="sourceTypeChanged($event)">
          <ion-select-option value="spotifyURL">Spotify-URL</ion-select-option>
          <ion-select-option value="spotifySearch">Spotify-Suche</ion-select-option>
          <ion-select-option value="rssURL">RSS / Podcast-URL</ion-select-option>
          <ion-select-option value="streamURL">Stream / Radio-URL</ion-select-option>
        </ion-select>
      </div>
      <div class="settings-field">
        <label>Label</label>
        <ion-input #label [ngModel]="editMedia?.artist" name="label" type="text" placeholder="z. B. Bibi Blocksberg" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
      </div>

      <div class="settings-field">
        @switch (sourceType) {
          @case ('spotifyURL') {
            <label>Spotify-URL</label>
            <ion-input #spotifyURL [ngModel]="editMedia?.spotify_url" name="spotifyURL" type="text" placeholder="https://open.spotify.com/…" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
          }
          @case ('spotifySearch') {
            <label>Spotify-Suche</label>
            <ion-input #spotifySearch [ngModel]="editMedia?.query" name="spotifySearch" type="text" placeholder="Suchbegriff" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
          }
          @case ('rssURL') {
            <label>RSS / Podcast-URL</label>
            <ion-input #rssURL [ngModel]="editMedia?.id" name="rssURL" type="text" placeholder="https://…" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
          }
          @case ('streamURL') {
            <label>Stream / Radio-URL</label>
            <ion-input #streamURL [ngModel]="editMedia?.id" name="streamURL" type="text" placeholder="https://…" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
          }
        }
      </div>
      @if (sourceType === 'streamURL') {
        <div class="settings-field">
          <label>Titel</label>
          <ion-input #title [ngModel]="editMedia?.title" name="title" type="text" placeholder="Sendername" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
        </div>
      }
      <div class="settings-field">
        <label>Cover-URL (optional)</label>
        <ion-input #cover [ngModel]="editMedia?.cover" name="cover" type="text" placeholder="https://…" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
      </div>
      <div class="settings-field">
        <label>Label-Cover-URL (optional)</label>
        <ion-input #labelcover [ngModel]="editMedia?.artistcover" name="labelcover" type="text" placeholder="https://…" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
      </div>

      <div class="settings-field">
        <label>Sortierung</label>
        <ion-select #sortingSelect interface="popover" [(ngModel)]="sorting" name="sorting">
          <ion-select-option value="AlphabeticalAscending">Alphabetisch aufsteigend</ion-select-option>
          <ion-select-option value="AlphabeticalDescending">Alphabetisch absteigend</ion-select-option>
          <ion-select-option value="ReleaseDateAscending">Erscheinungsdatum aufsteigend</ion-select-option>
          <ion-select-option value="ReleaseDateDescending">Erscheinungsdatum absteigend</ion-select-option>
        </ion-select>
      </div>
      @if ((sourceType === 'spotifyURL' || sourceType === 'spotifySearch') && (category === 'music' || category === 'other')) {
        <div class="settings-field check-field">
          <label>Zufallswiedergabe</label>
          <ion-checkbox #spotify_shuffle name="spotify_shuffle" [(ngModel)]="shuffle" (ionChange)="validate()">Titel mischen</ion-checkbox>
        </div>
      }
      @if (sourceType !== 'streamURL') {
        <div class="settings-field check-field">
          <label>Intervall</label>
          <ion-checkbox #spotify_aPartOfAll name="spotify_aPartOfAll" [(ngModel)]="aPartOfAll" (ionChange)="validate()">Nur einen Teil verwenden</ion-checkbox>
        </div>
        @if (aPartOfAll) {
          <div class="settings-field">
            <label>Start</label>
            <ion-input #spotify_aPartOfAllMin [(ngModel)]="aPartOfAllMin" name="spotify_aPartOfAllMin" type="number" placeholder="0" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
          </div>
          <div class="settings-field">
            <label>Ende</label>
            <ion-input #spotify_aPartOfAllMax [(ngModel)]="aPartOfAllMax" name="spotify_aPartOfAllMax" type="number" placeholder="Ende" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
          </div>
        }
      }
    </div>
  </form>

  <div class="keyboard-panel" slot="fixed">
    <div class="simple-keyboard"></div>
  </div>
</ion-content>
